
.container {
  display: flex;
  min-height: 100vh;
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-thing {
  background-color: white;
  padding: 50px;
  border-radius:24px;

}